<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- db랑 연결해주는 파일명을 경로까지 모두 작성 패키지명부터 /로 끊어서 작성-->
<properties resource="com/goming/like/database/db.properties"></properties>
	
	<!-- 패키지 경로를 축약해주는 역할 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
	<!-- 내가 사용할 mapper 작성 -->
		<mapper resource="com/goming/like/database/myPageMapper.xml" />
	</mappers>
</configuration>