<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goming.database.Mapper">

<select id="weatherinfo" parameterType="com.goming.comment.model.CommentDTO" resultType="com.goming.weather.model.WeatherDTO">
	select *
	  from weather_info
	 where lat = #{lat} and lon = #{lon}
</select>

	









</mapper>