@charset "UTF-8";

@font-face {
	font-family: 'NanumSquareNeoLight';
	src:
		url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot);
	src:
		url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot?#iefix)
		format("embedded-opentype"),
		url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff)
		format("woff"),
		url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.ttf)
		format("truetype");
}

.title {
	font-family: "NanumSquareNeoLight", cursive;
	font-size: 30px;
	margin: 30px;
	border: 1px solid black;
	border-color: black;
	}