@charset "UTF-8";

@font-face {
	font-family: 'NanumSquareNeoLight';
	src:
		url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot);
	src:
		url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot?#iefix)
		format("embedded-opentype"),
		url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff)
		format("woff"),
		url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.ttf)
		format("truetype");
}

.title {
	font-family: "NanumSquareNeoLight", cursive;
	font-size: 30px;
	margin: 30px;
	border: 1px solid black;
	border-color: black;
	width: 200px;
	height: 50px;
	display: flex;
	border-radius: 10px;
	align-items: center;
	justify-content: center;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* 그림자 설정 */
	position: relative; /* ::after 가상 요소를 위한 상대 위치 설정 */
}

.title::after {
	content: '';
	position: fixed;
	top: calc(100% + 10px); /* title 요소의 아래쪽에서 10px 아래에 위치 */
	left: 0;
	width: 100%; /* 화면 전체 너비 */
	height: 2px; /* 선의 두께 설정 */
	background-color: black; /* 선의 색상 설정 */
	z-index: -1; /* title 요소 뒤로 보내기 */
}