@charset "UTF-8";

@font-face {
	font-family: 'NanumSquareNeoLight';
	src:
		url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot);
	src:
		url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot?#iefix)
		format("embedded-opentype"),
		url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff)
		format("woff"),
		url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.ttf)
		format("truetype");
}

body {
	text-align: center;
	font-family: Arial, sans-serif;
	background-color: #fff;
	padding: 20px;
	margin-bottom: 60px;
}

html {
	margin-bottom: 100px;
}

.content h2 {
	font-family: "NanumSquareNeoLight", cursive;
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 20px;
	font-size: 35px;
}

html, body {
	background-image: url('../images/background2.png'); /* 배경 이미지 설정 */
	background-size: cover; /* 이미지가 화면을 가득 채우도록 조절 */
	background-repeat: repeat; /* 이미지 반복하지 않음 */
	background-position: center center; /* 이미지가 중앙에 위치하도록 설정 */
}

.content {
	margin-top: 100px; /* body가 헤더에 가려져서 내림 */
}

.info-container {
	display: inline-block;
	background-color: white;
	border: 1px solid #bbb;
	padding: 20px;
	margin-bottom: 30px;
	text-align: left;
	border-radius: 10px;
	width: 400px;
	vertical-align: top;
	box-sizing: border-box;
	margin-bottom: 100px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.info-item {
	margin-bottom: 10px;
	margin-right: 20px;
}

.info-item strong {
	display: inline-block;
	width: 100px;
	font-family: "NanumSquareNeoLight", cursive;
	font-weight: 900;
	font-size: 15px;
}

.info-box {
	display: inline-block;
	padding: 10px;
	text-align: left;
	width: 150px;
	vertical-align: middle;
	box-sizing: border-box;
	font-family: "NanumSquareNeoLight", cursive;
	font-weight: 600;
	font-size: 15px;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	max-width: 960px;
	margin: 0 auto;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	margin-bottom: 70px;
	max-height: 810px;
}

.gallery img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit: cover;
	cursor: pointer;
	transition: transform 0.2s;
}

.gallery img:hover {
	transform: scale(1.1);
}

.post-title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
	font-family: "NanumSquareNeoLight", cursive;
	font-weight: 900;
	font-size: 16px;
}

.post-icon {
	font-size: 24px;
	margin-right: 5px;
}

button {
	background-color: black;
	color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	margin: 10px;
	font-size: 16px;
	border-radius: 10px;
	width: 250px;
	box-sizing: border-box;
	font-family: "NanumSquareNeoLight", cursive;
	font-weight: 500;
	font-size: 13px;
}

.button-container {
	text-align: center; /* 버튼 가운데 정렬 */
	margin-top: 20px; /* 버튼 아래 공간 조정 */
}

button.red {
	background-color: red;
}